language: ruby
cache: bundler
before_install:
  #- gem update --system
  - gem --version
script:
  - CODECLIMATE_REPO_TOKEN=02149c8c8c18bb978851acf1df4de0117ccaa025eb80e074425b5de739ab7654
  - bundle exec rspec spec
  - bundle exec rake --trace db:migrate test
before_script:
  - psql -c 'create database slap_test;' - U postgres
  - psql -c "alter user postgres with password 'test';" - U postgres
  #- echo "USE mysql;\nUPDATE user SET password=PASSWORD('test') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
rvm:
  - 2.0.0
  - 2.1.2