<div class="sign_form_wrapper container">
  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Sign up to middle front</h2>
    <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" class="form-control" placeholder="Password" required="">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
